@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hafezi";
  src: url("./fonts/noorehuda.ttf") format("truetype");
}

@font-face {
  font-family: "bn";
  src: url("./fonts/banglaquran.otf") format("truetype");
}

@font-face {
  font-family: "arabic2";
  src: url("./fonts/110_Besmellah_[Takmob.Net].TTF") format("truetype");
}

.arabicTxt {
  font-family: "hafezi" !important;
}

.bnTxt {
  font-family: "bn";
}
