body {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

#holyQuran {
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  #holyQuran {
    padding-bottom: 20px;
    overflow: hidden !important;
  }
}

.holyQuranContainer {
  height: calc(100vh - 60px);
}

.surahLogo {
  background-image: url(./../media/surahLogo.png);
  background-size: 45px;
  background-repeat: no-repeat;
}

.wave-pillar {
  animation: wave 1s ease-in-out infinite;
}

.wave-pillar:nth-of-type(1) {
  animation-delay: 0s;
}

.wave-pillar:nth-of-type(2) {
  animation-delay: 0.2s;
}

.wave-pillar:nth-of-type(3) {
  animation-delay: 0.4s;
}

.wave-pillar:nth-of-type(4) {
  animation-delay: 0.6s;
}

.wave-pillar:nth-of-type(5) {
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.dark {
  background-color: #001e3c;
  background-image: url("../media/quran-icon-png-8826.png");
  background-repeat: repeat;
  background-size: 50px;

  .bismillahImg {
    filter: brightness(500%) contrast(500%) saturate(0%);
  }

  .txtColor {
    color: white;
  }

  .bgColor1 {
    background-color: #0a1929;
    opacity: 0.98;
  }

  .bgColor2 {
    background-color: #001e3c;
  }

  .bgColor3 {
    background-color: #001e3c;
    color: white;
  }

  .hoverBg:hover {
    background-color: #002e5c;
  }

  .active {
    background-color: #002e5c;
  }

  .skBg {
    background-color: #03284c;
  }

  .waveBg {
    background-color: white;
  }

  .divider {
    border-bottom: 0.5px solid rgb(51, 65, 85);
  }

  .bgWarning {
    background-color: #191207;
    color: rgb(255, 226, 183);
  }

  .bgSuccess {
    background-color: #0c130d;
    color: rgb(204, 232, 205);
  }
}

.light {
  background-color: white;
  background-image: url("../media/bg.png");
  background-repeat: repeat;
  background-size: 50px;

  .bismillahImg {
    filter: brightness(0%) contrast(100%) saturate(0%);
  }

  .txtColor {
    color: black;
  }

  .bgColor1 {
    background-color: #e8ecf0;
  }

  .bgColor2 {
    background-color: white;
  }

  .bgColor3 {
    background-color: #6b6b6b;
    color: white;
  }

  .hoverBg:hover {
    background-color: #e0e3e7;
  }

  .active {
    background-color: #e0e3e7;
  }

  .skBg {
    background-color: #dae0e5;
  }

  .waveBg {
    background-color: black;
  }

  .divider {
    border-bottom: 0.5px solid #b9bdc2;
  }

  .bgWarning {
    background-color: #fff4e5;
    color: rgb(102, 60, 0);
  }

  .bgSuccess {
    background-color: rgb(237, 247, 237);
    color: rgb(30, 70, 32);
  }
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10%;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 10%;
}

.ham_wasl,
.slnt,
.laam_shamsiyah {
  color: #aaaaaa;
}

.madda_normal {
  color: #537fff;
}

.madda_permissible {
  color: #4050ff;
}

.madda_necessary {
  color: #000ebc;
}

.qalaqah {
  color: #dd0008;
}

.madda_obligatory {
  color: #2144c1;
}

.ikhafa_shafawi {
  color: #d500b7;
}

.ikhafa {
  color: #9400a8;
}

.idgham_shafawi {
  color: #58b800;
}

.iqlab {
  color: #26bffd;
}

.idgham_ghunnah {
  color: #169777;
}

.idgham_wo_ghunnah {
  color: #169200;
}

.idgham_mutajanisayn,
.idgham_mutaqaribayn {
  color: #a1a1a1;
}

.ghunnah {
  color: #ff7e1e;
}

.end {
  margin-right: 10px;
  font-size: 20px;
}
